In [5]:
# Python essentials
## Data types in python

a = 3

In [3]:
a

3

# Data types in python
- Bool: True/False
- int: 2, 10
- float: 3.4, 4.0, -2.0
- String: "Hello world"
- Time: Data/time type

In [6]:
type(a)

int

In [9]:
type(4.2)

float

In [7]:
type(True)

bool

In [8]:
type('I am a Data Scientist')

str

In [10]:
import datetime

In [12]:
datetime.date.today()

datetime.date(2019, 7, 20)

In [13]:
datetime.datetime.now()

datetime.datetime(2019, 7, 20, 12, 26, 25, 142479)

In [14]:
from datetime import datetime, date

In [15]:
date.today()

datetime.date(2019, 7, 20)

In [17]:
# Create a date
my_dads_bday = date(2010, 7, 15)
my_dads_bday

datetime.date(2010, 7, 15)

In [18]:
print(date.today() - my_dads_bday)

3292 days, 0:00:00

In [19]:
my_bday = date(2011, 7, 15)
my_dads_bday - my_bday

datetime.timedelta(days=-365)

In [20]:
my_bday - my_dads_bday

datetime.timedelta(days=365)

In [21]:
date.today() - my_dads_bday

datetime.timedelta(days=3292)

In [68]:
for day in range(2000, 2005):
    old_date = date(day, 7, 15)
    print(day, date.today() - old_date)

2000 6944 days, 0:00:00
2001 6579 days, 0:00:00
2002 6214 days, 0:00:00
2003 5849 days, 0:00:00
2004 5483 days, 0:00:00

In [27]:
import datetime
# Time delta - to add 100 days from today
# hund_day = date.today() + 100 - Gives error 100 is int

hund_day = date.today() + datetime.timedelta(days=100)
hund_day

datetime.date(2019, 10, 28)

# Typecasting

In [29]:
# Order of conversion
# Bool -> Int -> Float -> Str

In [31]:
# Auto Typecasting
3 + 4.0

7.0

In [32]:
# Forced typecasting
3 + int(4.5)

7

In [33]:
float(2)

2.0

In [34]:
bool(5)

True

In [36]:
int(True)

1

In [37]:
float(True)

1.0

In [38]:
str(True)

'True'

In [39]:
int(bool(-18))

1

# Read about Polynomial, multinomial, Linear Algebra, Matrices

In [42]:
str('6') + str('datamites')

'6datamites'

In [44]:
4.5 + 5 + bool(-8) + int('6') + 3.5 + True

21.0

In [48]:
text = 'I am Data Scientist'
text

'I am Data Scientist'

In [49]:
# Index in python starts from zero
text[5]

'D'

In [53]:
# Slicing operation ':', [Start:stop:step]
# This excludes the last element
# 5:12 takes from index 5 to 11 not from 5 to 12
text[5:12]

'Data Sc'

In [55]:
text[5:12:2] # Steps take alternative characters

'Dt c'

In [56]:
text[5:-1] # 5 to the last but 1 number

'Data Scientis'

In [57]:
text[50:-1] # 50 is not there, python returns empty string

''

In [58]:
len(text)

19

In [60]:
# Math operators
## +, -, *, /, //, power, modulus

10 + 4 # add
10 - 4 # subtract
10 * 4 # multiply
10 / 4 # float divide
10 // 4 # integer divide
10 ** 4 # power
10 % 4 # modulus

2

In [64]:
5 > 3

True

In [65]:
5 >=3

True

In [66]:
5 != 5

False

In [69]:
False and -2.0

False

In [70]:
5 > 3 and 6 > 3

True

In [71]:
5 > 3 and 5 < 3

False