In [1]:
import pandas as pd
data = pd.read_csv('data/car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [2]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)
X = data.iloc[:,:-1]
y = data.outcome

In [3]:
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [4]:
data.corr()

,buying,maint,doors,persons,lug_boot,safety
buying,1.000000e+00,0.000000e+00,0.0,-9.215072e-20,0.000000e+00,0.0
maint,0.000000e+00,1.000000e+00,0.0,-9.215072e-20,0.000000e+00,0.0
doors,0.000000e+00,0.000000e+00,1.0,0.000000e+00,0.000000e+00,0.0
persons,-9.215072e-20,-9.215072e-20,0.0,1.000000e+00,-2.523651e-19,0.0
lug_boot,0.000000e+00,0.000000e+00,0.0,-2.523651e-19,1.000000e+00,0.0
safety,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,1.0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(max_depth=11,random_state=3,n_estimators=25)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score, classification_report
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.976878612716763

col_0    acc  good  unacc  vgood
outcome
acc       97     2      3      0
good       4    17      0      0
unacc      3     0    368      0
vgood      0     0      0     25

In [6]:
model.feature_importances_

array([0.20025288, 0.13413295, 0.0589678 , 0.23065869, 0.09021501,
       0.28577266])

In [7]:
from sklearn.externals import joblib
joblib.dump(model,'car_trained.ml')

C:\Users\Bineesh\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['car_trained.ml']

In [8]:
RandomForestClassifier()

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
parameters = {'max_depth':[11,12,13],
              'random_state': range(0,6),
              'n_estimators':[10,15,20,40,70]
             }
grid = GridSearchCV(RandomForestClassifier(),parameters)
grid.fit(X_train,y_train)

C:\Users\Bineesh\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [11, 12, 13],
                         'n_estimators': [10, 15, 20, 40, 70],
                         'random_state': range(0, 6)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [10]:
grid.best_score_

0.9520264681555004

In [11]:
grid.best_params_

{'max_depth': 12, 'n_estimators': 70, 'random_state': 5}