In [81]:
import pandas as pd

In [82]:
data = pd.read_csv('data/car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [83]:
from collections import Counter

In [84]:
Counter(data.buying)

Counter({'vhigh': 432, 'high': 432, 'med': 432, 'low': 432})

In [85]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [86]:
# data.safety.replace(['low', 'med', 'high'], [0, 1, 2])

In [87]:
X = data.iloc[:, :-1]
y = data.outcome

In [88]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()

X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [89]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

# model = DecisionTreeClassifier()
model = SVC(kernel='rbf', C=7, gamma=0.25)

model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [91]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_predict))

0.9922928709055877

In [92]:
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       99     0      3      0
good       1    20      0      0
unacc      0     0    371      0
vgood      0     0      0     25

In [93]:
Counter(y_test)

Counter({'unacc': 371, 'good': 21, 'acc': 102, 'vgood': 25})

In [94]:
Counter(y_predict)

Counter({'unacc': 374, 'good': 20, 'acc': 100, 'vgood': 25})

In [95]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.99      0.97      0.98       102
        good       1.00      0.95      0.98        21
       unacc       0.99      1.00      1.00       371
       vgood       1.00      1.00      1.00        25

   micro avg       0.99      0.99      0.99       519
   macro avg       1.00      0.98      0.99       519
weighted avg       0.99      0.99      0.99       519