In [202]:
# Python essentials
## Data types in python

a = 3

In [203]:
a

[3, 4.5, True, 'DataMites']

# Data types in python
- Bool: True/False
- int: 2, 10
- float: 3.4, 4.0, -2.0
- String: "Hello world"
- Time: Data/time type

In [204]:
type(a)

list

In [205]:
type(4.2)

float

In [206]:
type(True)

bool

In [207]:
type('I am a Data Scientist')

str

In [208]:
import datetime

In [209]:
datetime.date.today()

datetime.date(2019, 7, 20)

In [210]:
datetime.datetime.now()

datetime.datetime(2019, 7, 20, 14, 58, 42, 512951)

In [211]:
from datetime import datetime, date

In [212]:
date.today()

datetime.date(2019, 7, 20)

In [213]:
# Create a date
my_dads_bday = date(2010, 7, 15)
my_dads_bday

datetime.date(2010, 7, 15)

In [214]:
print(date.today() - my_dads_bday)

3292 days, 0:00:00

In [215]:
my_bday = date(2011, 7, 15)
my_dads_bday - my_bday

datetime.timedelta(days=-365)

In [216]:
my_bday - my_dads_bday

datetime.timedelta(days=365)

In [217]:
date.today() - my_dads_bday

datetime.timedelta(days=3292)

In [218]:
import datetime
# Time delta - to add 100 days from today
# hund_day = date.today() + 100 - Gives error 100 is int

hund_day = date.today() + datetime.timedelta(days=100)
hund_day

datetime.date(2019, 10, 28)

# Typecasting

In [219]:
# Order of conversion
# Bool -> Int -> Float -> Str

In [220]:
# Auto Typecasting
3 + 4.0

7.0

In [221]:
# Forced typecasting
3 + int(4.5)

7

In [222]:
float(2)

2.0

In [223]:
bool(5)

True

In [224]:
int(True)

1

In [225]:
float(True)

1.0

In [226]:
str(True)

'True'

In [227]:
int(bool(-18))

1

# Read about Polynomial, multinomial, Linear Algebra, Matrices

In [228]:
str('6') + str('datamites')

'6datamites'

In [229]:
4.5 + 5 + bool(-8) + int('6') + 3.5 + True

21.0

In [230]:
text = 'I am Data Scientist'
text

'I am Data Scientist'

In [231]:
# Index in python starts from zero
text[5]

'D'

In [232]:
# Slicing operation ':', [Start:stop:step]
# This excludes the last element
# 5:12 takes from index 5 to 11 not from 5 to 12
text[5:12]

'Data Sc'

In [233]:
text[5:12:2] # Steps take alternative characters

'Dt c'

In [234]:
text[5:-1] # 5 to the last but 1 number

'Data Scientis'

In [235]:
text[50:-1] # 50 is not there, python returns empty string

''

In [236]:
len(text)

19

In [237]:
# Math operators
## +, -, *, /, //, power, modulus

10 + 4 # add
10 - 4 # subtract
10 * 4 # multiply
10 / 4 # float divide
10 // 4 # integer divide
10 ** 4 # power
10 % 4 # modulus

2

In [238]:
5 > 3

True

In [239]:
5 >=3

True

In [240]:
5 != 5

False

In [241]:
False and -2.0

False

In [242]:
5 > 3 and 6 > 3

True

In [243]:
5 > 3 and 5 < 3

False

In [244]:
# Conditional statements
x = 2
if x > 0:
    print("this is positive")
elif x == 0:
    print("this is zero")
else:
    print("this is negative")

this is positive

In [245]:
# Numpy stands for numerical python
# We will deal with it later

# Array is a collection of same data type

# Lists
- List is a heterogeneous data structure
- Python lists are very flexible and can hold completely heterogeous, arbitrary data and they are also appended very efficiently

In [246]:
a = [3, 4.5, True, 'DataMites']

type(a)

list

In [247]:
a[3]

'DataMites'

In [248]:
myfamily = ['dad', 'mom', 'me']
myfamily

['dad', 'mom', 'me']

In [249]:
myfamily.append('wife')

In [250]:
myfamily

['dad', 'mom', 'me', 'wife']

In [251]:
myfamily.extend(['son', 'brother'])
myfamily

['dad', 'mom', 'me', 'wife', 'son', 'brother']

In [252]:
myfamily.remove('brother')
myfamily

['dad', 'mom', 'me', 'wife', 'son']

In [253]:
myfamily.pop(4)
myfamily

['dad', 'mom', 'me', 'wife']

In [254]:
myfamily.sort()
myfamily

['dad', 'me', 'mom', 'wife']

In [255]:
myfamily.sort(reverse=True)
myfamily

['wife', 'mom', 'me', 'dad']

In [256]:
# myfamily.reverse()
# myfamily

In [257]:
myfamily.count('dad')

1

In [258]:
myfamily[0:5:2]

['wife', 'me']

# Tuple
- Immutable Ex: call log

In [263]:
a = tuple([3, 4, 5])
print(a)
type(a)

(3, 4, 5)

tuple

In [264]:
(3, 4, 5) # creating a simple tuple

(3, 4, 5)

# Dictionary

In [267]:
b = dict(name='Sagar', job='data scientist')
b

{'name': 'Sagar', 'job': 'data scientist'}

In [278]:
b['name']

'Sagar'

In [280]:
c = {1: 2, 3: 4}
c

{1: 2, 3: 4}

# Sets

In [271]:
lang = set(['Java', 'C', 'Python'])
snakes = set(['cobra', 'Mambo', 'Python'])
snakes

{'Mambo', 'Python', 'cobra'}

In [272]:
lang

{'C', 'Java', 'Python'}

In [273]:
lang.intersection(snakes)

{'Python'}

In [274]:
lang.union(snakes)

{'C', 'Java', 'Mambo', 'Python', 'cobra'}

In [275]:
lang.difference(snakes)

{'C', 'Java'}

In [282]:
a = (1, 2, 3)

# Functions

In [286]:
def bmi(weight, height):
    """ Weight in kilograms
    Height in metres
    """
    return weight / (height ** 2)

bmi(80, 1.76)

25.826446280991735

# For loop

In [287]:
fruits = ['guava', 'cherry', 'mango', 'apple']
type(fruits)

list

In [288]:
for f in fruits:
    print(f)

guava
cherry
mango
apple

In [290]:
for f in fruits:
    if f == 'cherry':
        print('hi cherry')
    print(f)

guava
hi cherry
cherry
mango
apple

In [293]:
for i in range(1, 3):
    print(i)

1
2

In [296]:
import datetime as dt
today = dt.date.today()
today

datetime.date(2019, 7, 20)

In [297]:
type(today)

datetime.date

In [299]:
today.month

7

In [ ]:
# John Mccarthy
# Geoffrey hilton
# Yann Lecun
# Andrew ng

In [300]:
system

[]