In [1]:
import pandas as pd
data = pd.read_csv('data/car_evaluation.csv')

In [2]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
X = data.iloc[:, :-1]
y = data.outcome

from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [4]:
from collections import Counter
Counter(y)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.928709055876686

col_0    acc  good  unacc  vgood
outcome
acc       89     2     11      0
good      10    10      1      0
unacc      5     0    366      0
vgood      5     2      1     17

In [7]:
# !pip install imblearn --user
#

Requirement already satisfied: imblearn in c:\users\bineesh\appdata\roaming\python\python37\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\bineesh\appdata\roaming\python\python37\site-packages (from imblearn) (0.5.0)
Requirement already satisfied: joblib>=0.11 in c:\users\bineesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: scipy>=0.17 in c:\users\bineesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.1)
Requirement already satisfied: numpy>=1.11 in c:\users\bineesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.16.2)
Requirement already satisfied: scikit-learn>=0.21 in c:\users\bineesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.21.3)

In [9]:
Counter(y_test)

Counter({'unacc': 371, 'good': 21, 'acc': 102, 'vgood': 25})

In [8]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [12]:
X_train_smote, y_train_smote = smote.fit_sample(X_train, y_train)
Counter(y_train_smote)

Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [13]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train_smote, y_train_smote)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.7707129094412332

col_0    acc  good  unacc  vgood
outcome
acc       68    27      0      7
good       2    18      0      1
unacc     57    11    296      7
vgood      1     6      0     18