In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('data/car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
from collections import Counter

In [5]:
Counter(data.buying)

Counter({'vhigh': 432, 'high': 432, 'med': 432, 'low': 432})

In [6]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [9]:
# data.safety.replace(['low', 'med', 'high'], [0, 1, 2])

0       0
1       1
2       2
3       0
4       1
5       2
6       0
7       1
8       2
9       0
10      1
11      2
12      0
13      1
14      2
15      0
16      1
17      2
18      0
19      1
20      2
21      0
22      1
23      2
24      0
25      1
26      2
27      0
28      1
29      2
       ..
1698    0
1699    1
1700    2
1701    0
1702    1
1703    2
1704    0
1705    1
1706    2
1707    0
1708    1
1709    2
1710    0
1711    1
1712    2
1713    0
1714    1
1715    2
1716    0
1717    1
1718    2
1719    0
1720    1
1721    2
1722    0
1723    1
1724    2
1725    0
1726    1
1727    2
Name: safety, Length: 1728, dtype: int64

In [13]:
X = data.iloc[:, :-1]
y = data.outcome

In [14]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()

X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_predict))

0.928709055876686

In [20]:
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       89     2     11      0
good      10    10      1      0
unacc      5     0    366      0
vgood      5     2      1     17

In [22]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.82      0.87      0.84       102
        good       0.71      0.48      0.57        21
       unacc       0.97      0.99      0.98       371
       vgood       1.00      0.68      0.81        25

   micro avg       0.93      0.93      0.93       519
   macro avg       0.87      0.75      0.80       519
weighted avg       0.93      0.93      0.93       519