In [23]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
messages = ['call you tonight', 'Call me a cab', 'please call me.. please', 'I will find you and kill you',
           "I dont know"
           ]

In [25]:
# instantiate CountVectorizer (vectorizer)
vect = CountVectorizer()
vect.fit(messages)
vect.get_feature_names()

['and',
 'cab',
 'call',
 'dont',
 'find',
 'kill',
 'know',
 'me',
 'please',
 'tonight',
 'will',
 'you']

<h3>Transform message </h3>

In [26]:
messages_transformed = vect.transform(messages)
print(messages)
print(vect.get_feature_names())
messages_transformed.toarray()

['call you tonight', 'Call me a cab', 'please call me.. please', 'I will find you and kill you', 'I dont know']
['and', 'cab', 'call', 'dont', 'find', 'kill', 'know', 'me', 'please', 'tonight', 'will', 'you']

array([[0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 1, 2, 0, 0, 0],
       [1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 2],
       [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0]], dtype=int64)

In [27]:
data = pd.DataFrame(messages_transformed.toarray())
data.columns = vect.get_feature_names()
print(messages)
data.head()

['call you tonight', 'Call me a cab', 'please call me.. please', 'I will find you and kill you', 'I dont know']

   and  cab  call  dont  find  kill  know  me  please  tonight  will  you
0    0    0     1     0     0     0     0   0       0        1     0    1
1    0    1     1     0     0     0     0   1       0        0     0    0
2    0    0     1     0     0     0     0   1       2        0     0    0
3    1    0     0     0     1     1     0   0       0        0     1    2
4    0    0     0     1     0     0     1   0       0        0     0    0

In [28]:
data.loc[0,'outcome'] ='info'
data.loc[1,'outcome'] ='order'
data.loc[2,'outcome'] = "request"

In [29]:
data.head()

,and,cab,call,dont,find,kill,know,me,please,tonight,will,you,outcome
0,0,0,1,0,0,0,0,0,0,1,0,1,info
1,0,1,1,0,0,0,0,1,0,0,0,0,order
2,0,0,1,0,0,0,0,1,2,0,0,0,request
3,1,0,0,0,1,1,0,0,0,0,1,2,NaN
4,0,0,0,1,0,0,1,0,0,0,0,0,NaN