<a href="https://colab.research.google.com/github/bineeshpc/data_science/blob/master/colab/colab_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

In [9]:
pd.DataFrame({"a": range(5)})

   a
0  0
1  1
2  2
3  3
4  4